## SI 330 Class 2/9

### Study Habits
 - Jamboard Activity
 - Spaced Repetition
 - Video Analytics
 - Note taking
 
**Poll Question 1 (20)**

### Reading in Tables
* While `read_csv()` is cool, `read_html()` is really cool

In [48]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_earthquakes_in_the_United_States')
df = df[0]
df

,Date,State(s),Magnitude,Fatalities,Article,Further information
0,"January 26, 1700","Washington, Oregon, California",8.7–9.2 Mw,Unknown,1700 Cascadia earthquake,NaN
1,"November 18, 1755",Massachusetts,5.9 Mw,0,1755 Cape Ann earthquake,NaN
2,"July 21, 1788",Alaska,8.0 Ms,Unknown,1788 Alaska earthquake[1],NaN
3,"August 6, 1788",Alaska,8.0 Ms,Unknown,1788 Alaska earthquake[1],NaN
4,"December 16, 1811",Missouri,7.5–8.0 Mw,100−500,1811–1812 New Madrid earthquakes,NaN
...,...,...,...,...,...,...
173,"March 31, 2020",Idaho,6.5 Mww,0,2020 Central Idaho earthquake,NaN
174,"May 15, 2020",Nevada,6.5 ML,0,2020 Nevada earthquake[42],NaN
175,"July 22, 2020",Alaska,7.8 Mw,0,2020 Alaska earthquake[43],NaN
176,"August 9, 2020",North Carolina,5.1 Mw,0,2020 Sparta earthquake[44],NaN
177,"October 19, 2020",Alaska,7.6 Mww,0,2020 Sand Point earthquake[45],NaN

### Manipulating Tables

In [ ]:
# ----------- Preprocessing ------------
#dropping NaN column 

#dropping unknowns

In [44]:
#Creating some new columns (with regex review!)
import re

# dates = [re.findall('(\w*)\s?(\d{1,2})?,?\s(\d{4})', i) for i in df['Date']]
# years = [re.findall('(\w*)\s?(\d{1,2})?,?\s(\d{4})', i)[0][2] for i in df['Date']][0]

years = []
months = []

for i in df['Date']:
    results = re.findall('(\w*)\s?(\d{1,2})?,?\s(\d{4})', i)
    years.append(results[0][2])



#Setting indices and creating a multilevel index 
df
# df = df.set_index(['Year', 'State(s)'], inplace=True)

,Date,State(s),Magnitude,Fatalities,Article,Further information
0,"January 26, 1700","Washington, Oregon, California",8.7–9.2 Mw,Unknown,1700 Cascadia earthquake,NaN
1,"November 18, 1755",Massachusetts,5.9 Mw,0,1755 Cape Ann earthquake,NaN
2,"July 21, 1788",Alaska,8.0 Ms,Unknown,1788 Alaska earthquake[1],NaN
3,"August 6, 1788",Alaska,8.0 Ms,Unknown,1788 Alaska earthquake[1],NaN
4,"December 16, 1811",Missouri,7.5–8.0 Mw,100−500,1811–1812 New Madrid earthquakes,NaN
...,...,...,...,...,...,...
173,"March 31, 2020",Idaho,6.5 Mww,0,2020 Central Idaho earthquake,NaN
174,"May 15, 2020",Nevada,6.5 ML,0,2020 Nevada earthquake[42],NaN
175,"July 22, 2020",Alaska,7.8 Mw,0,2020 Alaska earthquake[43],NaN
176,"August 9, 2020",North Carolina,5.1 Mw,0,2020 Sparta earthquake[44],NaN
177,"October 19, 2020",Alaska,7.6 Mww,0,2020 Sand Point earthquake[45],NaN

In [ ]:
%timeit df.loc[('1812', 'California')]

### Exploring Tables
**Poll Question 2 (10)**

In [ ]:
df.head()

In [ ]:
#Quick indexing refresher

In [ ]:
#Breakout Activity, 10 min.: 
#Number of fatalities of greatest mag. earthquake in a particular state

**Poll Question 3 (10)**

### Tool Building

In [ ]:
# if time permits

### End Matter

- Data Dictionaries
- HW Preview & New Submission Process
- Lab (Zoom)