# Groupby
* Often we want to split up and work with data based on groups
* Pandas allows us to iterate through rows and columns in a dataframe, but this is sort of slow
* Pandas also supports `groupby()` through a split-apply-combine pattern

## Splitting
* Let's get motivated first

In [6]:
import pandas as pd
import numpy as np
df = pd.read_csv('datasets/census.csv')
df = df[df['SUMLEV']==50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [7]:
for state in df['STNAME'].unique():
    print(state)

Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
District of Columbia
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin
Wyoming

In [8]:
# groupby method
for group, frame in df.groupby('STNAME'):
    print(group)

Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
District of Columbia
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin
Wyoming

* Ok, so `groupby` is great
* Usually you'll group by data in a column, but you can also provide a function to groupby and use that to segment your data.

In [9]:
def set_batch_number(item):
    return 0

* We can also group by multiple columns

In [10]:
#Airbnb data
df=pd.read_csv("datasets/listings.csv")
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [11]:
#It works pretty much as you would expect
for group, frame in df.groupby(['cancellation_policy', 'review_scores_value']):
    print(f"Grouped by {group} with a total of {len(frame)}")

Grouped by ('flexible', 2.0) with a total of 1
Grouped by ('flexible', 4.0) with a total of 5
Grouped by ('flexible', 5.0) with a total of 1
Grouped by ('flexible', 6.0) with a total of 18
Grouped by ('flexible', 7.0) with a total of 12
Grouped by ('flexible', 8.0) with a total of 67
Grouped by ('flexible', 9.0) with a total of 200
Grouped by ('flexible', 10.0) with a total of 332
Grouped by ('moderate', 2.0) with a total of 1
Grouped by ('moderate', 4.0) with a total of 1
Grouped by ('moderate', 6.0) with a total of 10
Grouped by ('moderate', 7.0) with a total of 7
Grouped by ('moderate', 8.0) with a total of 82
Grouped by ('moderate', 9.0) with a total of 304
Grouped by ('moderate', 10.0) with a total of 379
Grouped by ('strict', 2.0) with a total of 5
Grouped by ('strict', 3.0) with a total of 2
Grouped by ('strict', 4.0) with a total of 6
Grouped by ('strict', 5.0) with a total of 1
Grouped by ('strict', 6.0) with a total of 19
Grouped by ('strict', 7.0) with a total of 30
Grouped by ('strict', 8.0) with a total of 157
Grouped by ('strict', 9.0) with a total of 598
Grouped by ('strict', 10.0) with a total of 459
Grouped by ('super_strict_30', 6.0) with a total of 2
Grouped by ('super_strict_30', 7.0) with a total of 2
Grouped by ('super_strict_30', 8.0) with a total of 28
Grouped by ('super_strict_30', 9.0) with a total of 28
Grouped by ('super_strict_30', 10.0) with a total of 7

## Applying
* So far we have just looked at splitting up data
* We have three broad kinds of applying for data: aggregation, transformation, and filtering.

### Aggregation

In [12]:
# We should just be able to aggregate by calling .agg
df.groupby('cancellation_policy').agg({'review_scores_value': np.average})

                     review_scores_value
cancellation_policy
flexible                             NaN
moderate                             NaN
strict                               NaN
super_strict_30                      NaN

In [13]:
# That didn't seem to work at all, NaN!
df.groupby('cancellation_policy').agg({'review_scores_value': np.nanmean})

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [18]:
# We can just extend this dictionary to aggregate by multiple functions or multiple columns.
x = df.groupby('cancellation_policy').agg({'review_scores_value': (np.nanmean, np.nanstd), 'reviews_per_month': np.nanmean })

In [27]:
x.loc['flexible']['review_scores_value']['nanmean']

9.2374213836478

### Transformation
* Transformation broadcasts the function you supply over the grouped `DataFrame`, returning a new `DataFrame`.
* This is an important subtlety. `agg()` takes a grouped `DataFrame` and returns a scalar for that group. But `transform()` returns a `DataFrame` for that group.
* Whereas `agg()` will return a `DataFrame` the size of the number of groups (one entry per group), `transform()` will return a `DataFrame` the size of your original `DataFrame`

In [ ]:
# Lets just look at a couple of columns from our DataFrame

In [ ]:
# Notice that we are indexed by some review number. If we want to find the average for each group, we can do

In [ ]:
# But how do we put this average, say as a column called "related_averages", 
# back to our original dataframe
# How would YOU do that....?

In [ ]:
# Transform lets us do this in one step

In [ ]:
# Since the return is indexed just like the original dataframe, we can just assign it to a column

### Filtering
* You can also use `filter()` to remove rows from groups, sort of like `where()`

### Applying
* This is 95% of what I actually do with groups

In [ ]:
df=pd.read_csv("datasets/listings.csv")
df=df[['cancellation_policy','review_scores_value']]
df.head()

In [ ]:
def calc_mean_review_scores(group):
    # we can treat this as the complete dataframe
    # now broadcast our formula and create a new column
    return group

# Now just apply this to the groups